{% extends "::sitiolayaout.html.twig" %}
{% block selector  %}cerko{% endblock %}
{% block body %}
<section>
    <h2>Energ&iacute;as<br /><span>Renovables</span></h2>
    <div id="sectioIzq">

    </div>
    <div id="sectioDer">
    </div>

</section>
{% endblock %}